# Tidy Data Exercises

### 1. Attendance Data
- Read the data from the attendance table and calculate an attendance percentage for each student. One half day is worth 50% of a full day, and 10 tardies is equal to one absence.

In [2]:
import pandas as pd
import numpy as np
import seaborn as sns
from pydataset import data

In [4]:
attendance = pd.read_csv('attendance.csv')
attendance

,Unnamed: 0,2018-01-01,2018-01-02,2018-01-03,2018-01-04,2018-01-05,2018-01-06,2018-01-07,2018-01-08
0,Sally,P,T,T,H,P,A,T,T
1,Jane,A,P,T,T,T,T,A,T
2,Billy,A,T,A,A,H,T,P,T
3,John,P,T,H,P,P,T,P,P

In [ ]:
# melt the dataframe

### 2. Coffee Levels

##### a. Read the coffee_levels table

##### b. Transform the data so that each carafe is in it's own column.

##### c. Is this the best shape for the data

### 3. Cake Recipes

##### a. Read the cake_recipes table. This data set contains cake tastiness scores for combinations of different recipes, oven rack positions, and oven temperatures.

##### b. Tidy the data as necessary.

##### c. Which recipe, on average, is the best? recipe b

##### d. Which oven temperature, on average, produces the best results? 275

##### e. Which combination of recipe, rack position, and temperature gives the best result? recipe b, bottom rack, 300 degrees

### 4. Bonus: explore the other tables in the tidy_data database and reshape them as necessary so that they are in a tidy format.